{% extends "base.html" %}
{% block content %}
<h2>تغییر رمز عبور ادمین</h2>
<form method="post">
    <label>رمز فعلی:</label>
    <input type="password" name="old_password" required>
    <br>
    <label>رمز جدید:</label>
    <input type="password" name="new_password" required>
    <br>
    <button type="submit">تغییر رمز</button>
</form>
{% if get_flashed_messages() %}
    <ul>
    {% for msg in get_flashed_messages() %}
        <li>{{ msg }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
