[Unit]
After=syslog.target network-online.target
Wants=wg-quick.target
ConditionPathIsDirectory=/etc/wireguard

[Service]
Type=forking
PIDFile=/etc/Easy-WGDashboard/wgdashboard/src/gunicorn.pid
WorkingDirectory=/etc/Easy-WGDashboard/wgdashboard/src
ExecStart=/etc/Easy-WGDashboard/wgdashboard/src/wgd.sh start
ExecStop=/etc/Easy-WGDashboard/wgdashboard/src/wgd.sh stop
ExecReload=/etc/Easy-WGDashboard/wgdashboard/src/wgd.sh restart
TimeoutSec=120
PrivateTmp=yes
Restart=always

[Install]
WantedBy=multi-user.target